@page
@model EComWeb.Areas.Management.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<a asp-controller="User">Users</a>
<a asp-controller="Manufactures">Manufactures</a>

